* {
    
}
body {
    background-color: rgb(244 244 245);
}
header {
    text-align: center;
    position: fixed;
    top: 0;
    margin-top: 10px;
    left: 0;
    width: 100%;

}
footer {
    font-family: 'Open sans';
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: 10px;
    left: 0;
    width: 100%;
}
main {
    text-align: center;
    width: 100%;
}
.titulo {
    margin-top: 35vh;
}
h1 {
    font-family: 'Playfair Display';
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 0px;
}
p {
    font-family: 'Open sans';
    margin-top: 0px;
    font-size: 16px;
}
.shorter {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
#input-url {
    width: 474px;
    height: 46px;
    margin-right: 10px;
    border-radius: 8px;
    padding-left: 12px;
    cursor: text;
    border: solid 2px #d4d4d8;
    background-color: #fafafa;
}
.button {
    height: 46px;
    width: 46px;
    border-radius: 8px;
    background-color: #09090B;
    cursor: pointer;
    border: solid 2px #09090B;
}
.historico {
    font-family: 'Open sans';
    margin-top: 15px;
    font-size: 12px;
    align-items: center;
    text-align: center;
}
a {
    text-decoration: none;
    color: #09090B;
}
a:hover {
    font-weight: bold;
}
.button:hover {
    background-color: #fcd34d;
    border-color: #fcd34d;
    cursor: pointer;
}
button:active {
    background-color: #92400e;
    border-color: #92400e;
    cursor: pointer;
}